{% use 'form_div_layout.html.twig' with
    choice_widget_expanded as base_choice_widget_expanded,
    choice_widget_collapsed as base_choice_widget_collapsed,
    textarea_widget as base_textarea_widget,
    widget_attributes as base_widget_attributes,
    date_widget as base_date_widget,
    radio_widget as base_radio_widget,
    submit_widget as base_submit_widget,
    button_attributes as base_button_attributes
    %}

{% block choice_widget_collapsed %}
<div class="input-field col s12">
    {{ block('base_choice_widget_collapsed') }}
</div>
{% endblock choice_widget_collapsed %}

{% block textarea_widget %}
    {% set customAttr = {'class': 'materialize-textarea'} %}
    {{ block('base_textarea_widget') }}
{% endblock textarea_widget %}

{% block submit_widget %}
    {% set customAttr = {'class': 'waves-effect waves-light green btn'} %}
    <p style="text-align: center; margin: 0">{{ block('base_submit_widget') }}</p>
    {# While reading this code, calm yourself down thinking to the happy little trees #}
{% endblock submit_widget %}


{% block widget_attributes %}
    {% set customAttr = customAttr|default({}) %}
    {% set attr = attr|merge(customAttr) %}
    {{ block('base_widget_attributes') }}
{% endblock widget_attributes %}

{% block button_attributes %}
    {% set customAttr = customAttr|default({}) %}
    {% set attr = attr|merge(customAttr) %}
    {{ block('base_button_attributes') }}
{% endblock button_attributes %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="col s12">
                <div class="card-panel amber lighten-3">
                    <span class="black-text">
                        <ul class="marginless">
                            {% for error in errors %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    </span>
                </div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block date_widget %}
    {% if widget == 'single_text' %}
        {% set customAttr = {'class': 'datepicker'} %}
        {{ block('form_widget_simple') }}
    {% else %}
        {{ block('base_date_widget') }}
    {% endif %}
{% endblock date_widget %}

{% block imagechoice_widget %}
    {% if expanded %}
        {% set cont = block('base_choice_widget_expanded') %}
    {% else %}
        {% set cont = block('base_choice_widget_collapsed') %}
    {% endif %}
    {% if base_path starts with 'http' %}
        {% set image = base_path|raw %}
    {% else %}
        {% set image = asset(base_path|raw) %}
    {% endif %}
    {# Read comment in submit_widget block #}

    {{ include('embed/card.html.twig', {
        image: image|raw,
        title: question|raw,
        content: cont,
    }) }}
{% endblock %}

{% block radio_widget %}
    <p> {# Bob Ross forgive me #}
    {{ block('base_radio_widget') }}
{% endblock radio_widget %}

{% block textchoice_widget %}
    {% if expanded %}
        {% set cont = block('base_choice_widget_expanded') %}
    {% else %}
        {% set cont = block('base_choice_widget_collapsed') %}
    {% endif %}
    {% if embed1 %}
        <span class="question">{{ question|raw }}</span>
        {{ cont|raw }}
    {% else %}
        {{ include('embed/card.html.twig', {
            title: question|raw,
            content: cont,
        }) }}
    {% endif %}
{% endblock %}

{% block truefalse_widget %}
    <span class="question">{{ question|raw }}</span>
    {% if expanded %}
        {{ block('base_choice_widget_expanded') }}
    {% else %}
        {{ block('base_choice_widget_collapsed') }}
    {% endif %}
{% endblock %}

{% block edittext_widget %}
    {% set hint = hint|default('') %}
    {% if hint %}<em>{{hint}}</em>{% endif %}
    {{ block('textarea_widget') }}
{% endblock %}

{% block edittextin_widget %}
    {% set hint = hint|default('') %}
    {% if hint %}<em>{{hint}}</em>{% endif %}
    {{ block('form_widget_simple') }}
{% endblock %}
