{% extends 'base_user.html.twig' %}

{% block title %}Pagina non trovata{% endblock %}
{% block cardtitle %}Pagina non trovata{% endblock %}

{% block loginregister %}{% endblock %}
{% block fos_user_content %}
    <p>Sfortunatamente la pagina che hai richiesto non è disponibile.</p>
{% endblock %}
