{% extends 'base_user.html.twig' %}

{% block title %}Errore 403 "Forbidden"{% endblock %}
{% block cardtitle %}Errore 403 "Forbidden"{% endblock %}

{% block loginregister %}{% endblock %}
{% block fos_user_content %}
    <p>Sfortunatamente la pagina che hai richiesto non è disponibile.</p>
{% endblock %}
