{% extends 'base_user.html.twig' %}

{% block title %}Errore {{ status_code }}{% endblock %}
{% block cardtitle %}Errore {{ status_code }}{% endblock %}

{% block loginregister %}{% endblock %}
{% block fos_user_content %}
    <p>Errore del server.</p>
{% endblock %}
