{% extends "base_user.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Modifica profilo{% endblock %}
{% block cardtitle %}Modifica profilo{% endblock %}

{% block fos_user_content %}
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit', 'id' : 'prof' } }) }}
    <div class="row">
        {{ form_errors(form.username) }}
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
        </div>
        {{ form_errors(form.current_password) }}
        <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password) }}
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}

{% block actions %}
    <a href="javascript:void(0)" onclick="$('#prof').submit()">{{ 'profile.edit.submit'|trans }}</a>
{% endblock %}
