{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Profilo{% endblock %}

{% block body %}
<h2 class="light center">Profilo</h2>
<div class="row">
    <div class="col s12 m10 l8 offset-l2 offset-m1">
        <div class="card indigo darken-2">
            <div class="card-image">
             <img src="{{ asset('assets/images/userView.png') }}">
             <span class="card-title truncate username">
                 @{{ user.username }}
             </span>
           </div>
            <div class="card-content white-text">
                <ul class="marginless">
                    <li>{{ 'profile.show.email'|trans }}: <strong>{{ user.email }}</strong></li>
                </ul>
            </div>
            <div class="card-action">
                <a href="{{ path('fos_user_profile_edit') }}">modifica profilo</a>
                <a href="{{ path('fos_user_change_password') }}">modifica password</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/assets/css/profile.css') }}"/>
{% endblock %}
