{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}
{% block main %}
<div class="parallax-container valign-wrapper">
    <div class="parallax">
        <img src="{{ asset('assets/images/badoni.png') }}">
    </div>
    <div class="valign center" style="width: 100%">
        <div class="card-panel white center parallax-card">
            <h3 class="light header black-text">A proposito</h3>
            <p class="grey-text text-darken-3 lighten-3">Sito creato da Maggioni Claudio, Fiori Davide e Croci Giorgio.</p>
        </div>
    </div>
</div>
<div class="section white">
    <div class="row container">
        <div class="col s12">
            <h3 class="light">Crediti</h3>
            <p>Immagine per la prova di inglese: <strong>Davide D'Amico</strong> via <a href="https://flic.kr/p/rCHync">Flickr</a>.</p>
        </div>
    </div>
</div>

{% endblock %}
