{% use "navbar/navbar.html.twig" %}

<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8"/>
        {% block noscript %}
        <noscript>
            <meta http-equiv="refresh" content="0; url={{ path('noscript') }}"/>
        </noscript>
        {% endblock %}
        <meta name="author" content="Claudio Maggioni, Davide Fiori, Giorgio Croci"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block title %}Pagina generica{% endblock %} - {{ heading_title }}</title>
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/materialize.min.js') }}"></script>

        {# favicon #}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon 152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/materialize.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/common.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="{{ theme_bodycolor }}">
        {% block fullbody %}
            {{ block('moremenu') }}
            <nav class="{{ themePrimarycolor }}">
                <div class="nav-wrapper container">
                    <a href="{{ path('homepage') }}" class="brand-logo truncate">
                        {{ heading_title }}
                    </a>
                    <ul class="right hide-on-med-and-down ">
                        {{ block('desktop') }}
                    </ul>
                    <ul id="nav-mobile" class="side-nav ">
                        {{ block('mobile') }}
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons ">menu</i></a>
                </div>
            </nav>
            <main>
            {% block main %}
                <div class="container fade-in one">
                {% block body %}{% endblock %}
                </div>
            {% endblock %}
            </main>
            <footer class="page-footer {{ themePrimarycolor }}">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="">{{ footer_title }}</h5>
                            <p class=" text-lighten-4">{{ footer_subtitle }}</p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                            {% if links|length > 0 %}
                                <h5>Collegamenti</h5>
                                <ul>
                                {% for link in links %}
                                    <li>
                                        <a class="{{ themePrimarycolor }} text-lighten-3" href="{{ link.href }}">{{ link.label }}</a>
                                    </li>
                                    <li>
                                        <a class="{{ themePrimarycolor }} text-lighten-3" href="{{ path('about') }}">A proposito</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="footer-copyright {{ themeDarkercolor }}">
                    <div class="container">
                        2017 Claudio Maggioni, Davide Fiori, Giorgio Croci
                    </div>
                </div>
            </footer>
            <script src="{{ asset('assets/js/common.min.js') }}"></script>
            <script>
                trans.genericAJAXError = "Errore AJAX generico. Prova a ricaricare la pagina.";
            </script>
            {% block javascripts %}{% endblock %}
        {% endblock %}
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                <script>
                {% for message in messages %}
                    Materialize.toast("{{ message }}", 3000);
                {% endfor %}
                </script>
            {% endfor %}
        {% endif %}
    </body>
</html>
