{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Utente{% endblock %}

{% block fullbody %}
<main class="{{ themePrimarycolor }} valign-wrapper">
    <div class="row valign">
        <div class="user-card-column">
            <div class="card-panel center-align hoverable">
                <h3 class="login-brand-logo black-text">{{ heading_title }}</h3>
                {% block loginregister %}
                {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('fos_user_security_login') or
                    path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('fos_user_registration_register') %}
                <div class="row marginless">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s6">
                                <a
                                {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('fos_user_security_login') %}
                                {{ " " }}
                                class="active"
                                {{ " " }}
                                {% endif %}
                                target="_self" href="{{ path('fos_user_security_login')}}">
                                    {{ 'layout.login'|trans }}
                                </a>
                            </li>
                            <li class="tab col s6">
                                <a
                                {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('fos_user_registration_register') %}
                                {{ " " }}
                                class="active"
                                {{ " " }}
                                {% endif %}
                                target="_self" href="{{ path('fos_user_registration_register')}}">
                                    {{ 'layout.register'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% endblock loginregister %}
            </div>
            <div class="card hoverable black-text">
                <div class="card-content">
                    <span class="card-title">{% block cardtitle %}{{ footer_title }}{% endblock %}</span>
                    <div>
                    {% block fos_user_content %}{% endblock fos_user_content %}
                    </div>
                </div>
                <div class="card-action">
                {% block actions %}{% endblock %}
                <a href="{{ path('homepage') }}">home</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/baseuser.css') }}"/>
{% endblock %}
