{% extends 'base.html.twig' %}

{% block title %}Risutlato finale{% endblock %}

{% block body %}
    {% if band == -1 %}
        <h2 class="center light">Prova non completata</h2>
        <p>Completa tutte le prove per ottenere un giudizio.</p>
    {% else %}
        <h2 class="center light">Indicazioni operative</h2>
        <div class="presentation">
            {% if band == 0 %}
                <p>Hai completato la prova, quindi non ti sei scoraggiato nonostante le difficoltà incontrate. Questo è un dato positivo. Nella tua situazione di oggi, incontreresti qualche difficoltà ad affrontare i corsi dell’istituto Badoni, soprattutto perché
                    devi ancora imparare a:</p>
                <ul class="browser-default">
                    <li>concentrarti, cioè occupare intensamente la tua mente su un preciso obiettivo, cioè il compito che stai svolgendo, escludendo ogni distrazione, per interpretare correttamente la richiesta che ti viene fatta;
                    </li>
                    <li>avere pazienza e determinazione, perché le risposte corrette non vengono d’impulso, ma devono essere ricercate con i procedimenti corretti, facendo tutti i passaggi necessari;
                    </li>
                    <li>recuperare una certa quantità di conoscenze di base che probabilmente non hai nelle materie su cui ti sei messo alla prova: non è affatto impossibile, ma dipende da te, dalla tua volontà e dal tuo desiderio di affrontare una sfida importante.
                    </li>
                </ul>
            {% elseif band == 1 %}
                <p>Hai completato la prova con un punteggio incoraggiante. Non sei ferrato su tutte le aree, però nel complesso ti sai muovere con una certa sicurezza. Se ti impegni adeguatamente puoi affrontare con serenità i corsi dell’istituto Badoni, seguendo i
                    seguenti consigli:</p>
                <ul class="browser-default">
                    <li>considerando i punteggi parziali, prendi nota delle tue fragilità, perché conoscendo le tue debolezze puoi meglio affrontarle e superarle;
                    </li>
                    <li>prendi nota anche dei tuoi punti di forza, perché facendo leva su di essi puoi migliorare i tuoi risultati complessivi;
                    </li>
                    <li>migliora il tuo metodo di lavoro riguardo alla concentrazione (quando svolgi un compito il mondo esterno deve essere escluso, non puoi stare attento contemporaneamente a troppi stimoli), riguardo alla gestione del tempo (non devi avere fretta e
                        devi organizzarti) e riguardo alla pazienza (non pretendere subito i risultati migliori: l’apprendimento è un processo).
                    </li>
                </ul>
            {% else %}
                <p>Hai completato la prova con risultati davvero buoni. Non devi avere preoccupazioni riguardo al tuo positivo inserimento nell’ istituto Badoni, perché possiedi una preparazione adeguata. Tuttavia qualche consiglio può esserti utile:</p>
                <ul class="browser-default">
                    <li>considerando i punteggi parziali, prendi nota dei tuoi punti di forza e delle tue fragilità (tutti ne abbiamo!), per far leva sui primi e superare i secondi con l’impegno;
                    </li>
                    <li>considera che la scuola superiore presenta caratteristiche diverse da quelle della scuola media e ti richiederà maggior impegno nello studio: non basta essere ragazzi intelligenti per avere buoni risultati, bisogna saper fare fatica e meritarseli fino in fondo;
                    </li>
                    <li>una sana ambizione può portarti a traguardi elevati: non accontentarti di risultati che non esprimano al massimo tutte le tue potenzialità.
                    </li>
                </ul>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
