{% extends 'base.html.twig' %}

{% block title %}Prova autovalutazione{% endblock %}

{% block main %}
    <div class="parallax-container valign-wrapper">
        <div class="parallax">
            <img src="{{ asset('assets/images/badoni.png') }}">
        </div>
        <div class="valign center" style="width: 100%">
            <div class="card-panel white center parallax-card">
                <h3 class="light header black-text">Benvenuto @{{ app.user.username }}!</h3>
            </div>
        </div>
    </div>
    <div class="section white">
        <div class="row container">
          {% if allDone %}
          <div class="col s12">
            <div class="card center light-blue white-text">
              <div class="card-content">
                <span class="card-title">Indicazioni operative pronte</span>
                <p>Risposte esatte: <strong>{{ totalMark|round }}%</strong><br>
                  Consultalo <a class="white-text" style="font-weight: bold" href="{{ path('finalresult') }}">qui</a>.</p>
              </div>
            </div>
          </div>
          {% endif %}
            <div class="col s12">
                <div class="card-panel amber lighten-3">
                    <p>Ricorda che tutte le prove si possono fare
                        <strong>una sola</strong>
                        volta.<br/>
                        Una volta iniziata una prova,
                        <strong>non</strong>
                        è possibile
                        <strong>fermare</strong>
                        il conto alla rovescia.<br/>
                        Le tue risposte vengono
                        <strong>salvate automaticamente</strong>
                        ogni volta che
                        <strong>rispondi</strong>
                        ad una domanda o
                        <strong>modifichi</strong>
                        una risposta già data.<br/>
                        Per continuare a svolgere una prova già iniziata, anche con un altro dispositivo, premere il collegamento
                        <strong>CONTINUA LA PROVA</strong>
                        nel riquadro della prova.</p>
                </div>
            </div>
            {% for test in tests %}
                {{ include('embed/testCard.html.twig', {
                    status: test.status,
                    mark: test.mark,
                    controller: test.class,
                }) }}
            {% endfor %}
        </div>
    </div>
    <div class="parallax-container valign-wrapper feedback-parallax">
        <div class="parallax">
            <img src="{{ asset('assets/images/badoni.png') }}">
        </div>
        <div class="valign center" style="width: 100%">
            <div class="card-panel white center parallax-card">
                <h3 class="light header black-text">Feedback</h3>
                {% if allDone %}
                    <p>Scrivici una tua opinione sulle prove che hai svolto.</p>
                    {{ form_start(feedbackForm) }}
                    {{ form_widget(feedbackForm.feed) }}
                    {{ form_end(feedbackForm) }}
                {% else %}
                    <p>Completa tutte le prove per poter inviare un feedback.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
