{% extends 'base.html.twig' %}

{% block title %}Benvenuto{% endblock %}

{% block main %}
    <div class="parallax-container valign-wrapper">
        <div class="parallax">
            <img src="{{ asset('assets/images/badoni.png') }}">
        </div>
        <div class="valign center" style="width: 100%">
            <div class="card-panel white center parallax-card">
                <h2 class="header black-text">Benvenuto</h2>
                <p class="grey-text text-darken-3 lighten-3">Esegui le prove per valutare le tue competenze.</p>
                <p>
                    <a href="{{ path('fos_user_registration_register') }}" class="waves-effect waves-light btn">registrati</a>
                    <a href="{{ path('fos_user_security_login') }}" class="waves-effect waves-light btn">login</a>
                </p>
            </div>
        </div>
    </div>
    <div class="section white">
        <div class="row container fade-in one presentation">
            <h2>Badoni Scuolatest</h2>
            <h4>Verso la scuola superiore: facciamo il punto</h4>
            <p>Questa prova di autovalutazione può aiutarti a chiarire la situazione di partenza della tua preparazione e a riflettere su come predisporti a vivere bene l'esperienza delle scuola superiore.</p>
            <h4>Descrizione della prova</h4>
            <p>La prova è libera e anonima. I risultati della tua prova saranno noti solo a te. L’unico dato che ti è richiesto è un indirizzo email cui inviare i punteggi e le indicazioni operative. Puoi fare la prova solo una volta. Le tue risposte saranno
                anonimamente registrate a fini statistici.</p>
            <p>La prova riguarda 5 aree: italiano, matematica, fisica, inglese e comprensione. Hai a disposizione 70 minuti per matematica e 35 per le altre prove. La durata totale è di 3 ore circa. Puoi svolgere separatamente le 5 parti della prova; il sistema
                registrerà i tuoi risultati parziali. Dopo l’esecuzione di una parte, puoi uscire dalla piattaforma e rientrare quando vuoi per completare le altre parti. A prova terminata, riceverai i punteggi e le indicazioni operative, cioè dei suggerimenti su
                come migliorare in vista della scuola superiore.</p>
            <p>La cosa più importante è, prima di rispondere,
                <em>leggere attentamente le consegne e il testo degli esercizi</em>. Non avere fretta: il tempo disponibile è adeguato.</p>
        </div>
    </div>
{% endblock %}
