{% extends 'base.html.twig' %}

{% block title %}Risultati{% endblock %}
{% block body %}
<h2 class="center light">Risultati</h2>
<div class="row">
{% for test in tests %}
<div class="col s12 m6 l4">
    <div class="card small">
        <div class="card-content">
            <span class="card-title">{{ constant(test ~ '::TESTNAME') }}</span>
            <p>Visualizza i risultati delle prove di {{ constant(test ~ '::TESTNAME')|lower }}.</p>
        </div>
        <div class="card-action">
            <a href="{{ path(constant(test ~ '::ROUTEPREFIX') ~ 'Results') }}">apri</a>
            <a href="{{ path(constant(test ~ '::ROUTEPREFIX') ~ 'Csv') }}">scarica csv</a>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
