{% block common %}
{% if is_granted('ROLE_ADMIN') %}
{{ include('navbar/route.html.twig', {pathname: 'admin', routename: 'Admin'}) }}
{{ include('navbar/route.html.twig', {pathname: 'results', routename: 'Risultati'}) }}
{% endif %}
{% endblock %}

{% block mobile %}
{% spaceless %}
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<li>
    <div class="userView" onclick="window.location.href='{{ path('fos_user_profile_show') }}'">
        <div class="background">
            <img src="{{ asset('assets/images/userView.png') }}" alt="Sfondo"/>
        </div>
        <span class="white-text name truncate">@{{ app.user.username }}</span>
        <span class="white-text email truncate">{{ app.user.email }}</span>
    </div>
</li>
<li><a class="black-text" href="{{ path('fos_user_security_logout') }}">Logout</a></li>
{% else %}
<li><a class="black-text" href="{{ path('fos_user_security_login') }}">Login</a></li>
<li><a class="black-text" href="{{ path('fos_user_registration_register') }}">Registrati</a></li>
{% endif %}
<li><div class="divider"></div></li>
{{ block('common') }}
{% endspaceless %}
{% endblock %}

{% block desktop %}
{% spaceless %}
{{ block('common') }}
<li>
    <a id="moremenu" class="dropdown-button" href="#!" data-beloworigin="true" data-constrainwidth="false" data-activates="dropdown1">
        <i class="material-icons">account_circle</i>
    </a>
</li>
{% endspaceless %}
{% endblock %}

{% block moremenu %}
<ul id="dropdown1" class="dropdown-content">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <li>
        <a style="padding: 0" href="{{ path('fos_user_profile_show') }}">
            <div class="moremenu-userview" style="background-image: url('{{ asset('assets/images/userView.png') }}');">
                <div class="text">
                    <strong class="white-text truncate">@{{ app.user.username }}</strong>
                    <span class="white-text truncate">{{ app.user.email }}</span>
                </div>
            </div>
        </a>
    </li>
    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
    {% else %}
    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
    <li><a href="{{ path('fos_user_registration_register') }}">Registrati</a></li>
    {% endif %}
</ul>
{% endblock %}
