<li
{% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) starts with path(pathname) %}
    class="active"
{% endif %}>
    <a href="{{ path(pathname) }}">{{ routename }}</a>
</li>
