{% extends "base_user.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Verifica E-mail{% endblock %}
{% block cardtitle %}Verifica E-mail{% endblock %}

{% block fos_user_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock fos_user_content %}
