{% extends "base_user.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Account creato{% endblock %}
{% block cardtitle %}Account creato{% endblock %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
