{% extends "base_user.html.twig" %}

{% trans_default_domain "FOSUserBundle" %}

{% block title %}{{ 'layout.register'|trans }}{% endblock %}
{% block cardtitle %}{{ 'layout.register'|trans }}{% endblock %}

{% block fos_user_content %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', 'id': 'register-form'}}) }}
<div class="row">
    {{ form_errors(form.email) }}
    <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    {{ form_errors(form.username) }}
    <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}
    </div>
    {{ form_errors(form.plainPassword.first) }}
    <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
    </div>
    {{ form_errors(form.plainPassword.second) }}
    <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}
    </div>
</div>
{{ form_end(form) }}
{% endblock fos_user_content %}

{% block actions %}
    <a href="javascript:void(0)" onclick="$('#register-form').submit()">{{ 'registration.submit'|trans }}</a>
{% endblock %}
