{# General purpose card #}

<div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="card">
            {% set imagepath = image|default('') %}
            {% if imagepath != "" %}
            <div class="card-image">
                <img src="{{ imagepath }}" alt="immagine"/>
            </div>
            {% endif %}
            <div class="card-content">
                <h5>{{ title | raw }}</h5>
                {{ content | raw }}
            </div>
        </div>
    </div>
</div>
