<div class="cell">
    <svg class="diagonals" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
        <polygon points="100 0 100 10 0 10" />"
    </svg>
    <input type="text" maxlength="1" onkeyup="encodeIndianMultiplication('{{ inputId }}')" value="{{ decValue }}" {% if not editable %}readonly{% endif %} class="input decine" id="{{ inputId }}decine{{ id }}">
    <input type="text" maxlength="1" onkeyup="encodeIndianMultiplication('{{ inputId }}')" value="{{ unitValue }}" {% if not editable %}readonly{% endif %} class="input unita" id="{{ inputId }}unita{{ id }}">
</div>
