<div class="cell">
    <svg class="diagonals" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
        <polygon points="100 0 100 10 0 10" />"
    </svg>
    <span class="digit">{{ digit }}</span>
</div>
