{% set oriz = orizzontale|split(',') %}
{% set vert = verticale|split(',') %}
{% set width = width|default('s12 m10 offset-m1 l8 offset-l2') %}
{% set initValue = initValue|default('###############################')|split('#') %}

<div class="row">
    <div class="indianContainer col {{ width }}">
        {% for j in 0..2 %}
            {{ include('embed/indianEmpty.html.twig') }}
        {% endfor %}
        {% for j in 0..3 %}
            {{ include('embed/indianDigit.html.twig', {digit: oriz[j]}) }}
        {% endfor %}
        {% for i in 0..2 %}
            {% for j in 0..1 %}
                {{ include('embed/indianEmpty.html.twig') }}
            {% endfor %}
                {{ include('embed/indianDigit.html.twig', {digit: vert[i]}) }}
            {% for j in 0..3 %}
                {{ include('embed/indianCell.html.twig', {
                    id: i ~ 'rip' ~ j,
                    inputId: inputId,
                    decValue: initValue[i*8+j*2],
                    unitValue: initValue[i*8+j*2+1],
                    editable: editable,
                }) }}
            {% endfor %}
        {% endfor %}
        {% for j in 0..6 %}
            {{ include('embed/indianResult.html.twig', {
                id: j,
                inputId: inputId,
                value: initValue[j+24],
                editable: editable,
            }) }}
        {% endfor %}
    </div>
</div>
