<div class="col s12 m6 l4">
    <div class="card large box fade-in one
        {% if status is constant('AppBundle\\Controller\\TestController::TEST_SENT') %}
        green darken-1
        {% elseif status is constant('AppBundle\\Controller\\TestController::TEST_STARTED') %}
        orange darken-2
        {% else %}
        blue darken-2
        {% endif %} white-text">
        <div class="card-image">
            <img src="{{ asset(constant(controller ~ '::TESTIMAGE')) }}" height="175px" class="fade">
        </div>
        <div class="card-content" style="max-height: 60%">
            <span class="card-title">{{ constant(controller ~ '::TESTNAME') }}</span>
            <p class="real">{{ constant(controller ~ '::TESTDESCRIPTION')|raw }}</p>
            <p class="real">Durata: <strong>{{ constant(controller ~ '::TIMELIMIT') }}</strong></p>
            {% if status is constant('AppBundle\\Controller\\TestController::TEST_SENT') %}
                <p>Risposte esatte: <strong>{{ (test.mark / constant(controller ~ '::MAXMARK') * 100)|round }}%</strong></p>
            {% elseif status is constant('AppBundle\\Controller\\TestController::TEST_STARTED') %}
                <p><strong>Prova in corso. Se non si continua la prova, il punteggio
                    verrà calcolato in base alle risposte date.</strong></p>
            {% endif %}
        </div>
        <div class="card-action">
            <a  {% if status is constant('AppBundle\\Controller\\TestController::TEST_SENT') %}
                    href="{{ path(constant(controller ~ '::ROUTEPREFIX') ~ 'Success') }}">risultato
                {% elseif status is constant('AppBundle\\Controller\\TestController::TEST_STARTED') %}
                    href="{{ path(constant(controller ~ '::ROUTEPREFIX')) }}" class="white-text">Continua la prova
                {% else %}
                    href="#modal{{ constant(controller ~ '::ROUTEPREFIX') }}" class="modal-trigger">Inizia ora
                {% endif %}
            </a>
        </div>
    </div>
</div>
<div id="modal{{ constant(controller ~ '::ROUTEPREFIX') }}" class="modal">
    <div class="modal-content">
        <h4>Sei sicuro di voler iniziare la prova di {{ constant(controller ~ '::TESTNAME')|lower }}?</h4>
        <p>Una volta iniziata la prova non è possibile sospenderla.</p>
    </div>
    <div class="modal-footer">
        <a href="{{ path(constant(controller ~ '::ROUTEPREFIX')) }}" class="modal-action modal-close waves-effect waves-green btn-flat">Inizia ora</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Annulla</a>
    </div>
</div>
