{% extends "base_user.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Cambia password{% endblock %}
{% block cardtitle %}Cambia password{% endblock %}

{% block fos_user_content %}
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password', 'id':'pass' } }) }}
    {{ form_errors(form.current_password) }}
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password) }}
        </div>
        {{ form_errors(form.plainPassword.first) }}
        <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>
        {{ form_errors(form.plainPassword.second) }}
        <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>
    </div>
{{ form_end(form) }}
{% endblock fos_user_content %}

{% block actions %}
    <a href="javascript:void(0)" onclick="$('#pass').submit();">{{ 'change_password.submit'|trans }}</a>
{% endblock %}
