{% extends "base_user.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'layout.login'|trans }}{% endblock %}
{% block cardtitle %}{{ 'layout.login'|trans }}{% endblock %}

{% block fos_user_content %}
<form action="{{ path("fos_user_security_check") }}" method="post" id="login">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class="row">
        {% if error %}
        <div class="col s12">
            <div class="card-panel amber lighten-3">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </div>
        {% endif %}
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" />
        </div>
        <div class="input-field col s12">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
    </div>
</form>
<script>
    $(document).ready(function(){
        $('#password').val("");
    });
</script>
{% endblock fos_user_content %}

{% block actions %}
<a href="javascript:void(0)" onclick="$('#login').submit();">{{ 'security.login.submit'|trans }}</a>
<a href="{{ path("fos_user_resetting_request") }}">{{ 'resetting.request.submit'|trans }}</a>
{% endblock %}
