{% extends "base_user.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Verifica E-mail{% endblock %}
{% block cardtitle %}Verifica E-mail{% endblock %}

{% block fos_user_content %}
    Una email è stata inviata alla tua e-mail. Contiene il link d'attivazione che devi utilizzare per il reset della password.
{% endblock fos_user_content %}
