{% extends "base_user.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Recupero password{% endblock %}
{% block cardtitle %}Recupero password{% endblock %}

{% block fos_user_content %}
<form id="pass" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="row">
        {% if invalid_username is defined %}
            <div class="col s12">
                <div class="card-panel amber lighten-3">
                    <span class="black-text">
                        {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
                    </span>
                </div>
            </div>
        {% endif %}
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <label class="active" for="username">{{ 'resetting.request.username'|trans }}</label>
            <input class="validate" type="text" id="username" name="username" required="required" />
        </div>
    </div>
</form>
{% endblock %}

{% block actions %}
    <a href="javascript:void(0)" onclick="$('#pass').submit();">{{ 'resetting.request.submit'|trans }}</a>
{% endblock %}
