{% extends "base_user.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Recupero password{% endblock %}
{% block cardtitle %}Recupero password{% endblock %}

{% block fos_user_content %}
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset', 'id':'pass' } }) }}
    {{ form_errors(form.plainPassword.first) }}
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>
    </div>
    {{ form_errors(form.plainPassword.second) }}
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>
    </div>
{{ form_end(form) }}
{% endblock fos_user_content %}

{% block actions %}
    <a href="javascript:void(0)" onclick="$('#pass').submit();">{{ 'resetting.request.submit'|trans }}</a>
{% endblock %}
