{% extends 'tests/test.html.twig' %}

{% block classify %}
{% for wordToClassify in constant('AppBundle\\Form\\IngleseType::wordsToClassify') %}
{{ form_widget(attribute(form, 'class' ~ wordToClassify)) }}
{% endfor %}
{% endblock %}

{% block bestOption %}
{% for i in 0..5 %}
{{ form_widget(attribute(form, 'bestOption' ~ i)) }}
{% endfor %}
{% endblock %}

{% block match %}
{% for i in 0..5 %}
{{ form_widget(attribute(form, 'pairText' ~ i)) }}
{{ form_widget(attribute(form, 'pair' ~ i)) }}
{% endfor %}
{% endblock %}

{% block test %}
{{ include('embed/card.html.twig', {
    title: 'Choose what the words are.',
    content: block('classify')
}) }}
{{ include('embed/card.html.twig', {
    title: 'Choose the best option.',
    content: block('bestOption')
}) }}
{{ include('embed/card.html.twig', {
    title: 'Complete the sentences writing down the word that should be in <em>[HERE]</em>. '
        ~ 'Then, choose the best option to pair the sentence with.',
    content: block('match')
}) }}
{{ include('embed/card.html.twig', {
    title: 'Rewrite the sentences given in scrambled order.',
    content: form_widget(form.sentence1)
        ~ form_widget(form.sentence2)
}) }}
{% endblock %}
