{% extends 'tests/test.html.twig' %}

{% block climaPrealpino %}
<blockquote>Spesso mi chiedo come mai nelle città prealpine siano pochissime le
    persone che si servono della bicicletta per spostarsi. Il clima, certo, non
    è del tutto favorevole allo spostamento su due ruote: piove spesso, in tutte
    le stagioni, e, non appena finisce l'estate, il freddo è subito alle porte.
    Anche la morfologia del territorio incentiva piuttosto all'uso di un mezzo
    motorizzato, visto che nel giro di un chilometro e mezzo si può rilevare un
    dislivello addirittura di duecento metri. Eppure, nonostante queste
    difficoltà, sono un convinto sostenitore del fatto che la libertà viaggi
    su una sella e un buon cambio: si trova sempre parcheggio, non si resta mai
    bloccati nel traffico e, quando si affronta una discesa in velocità, si
    prova un impagabile senso di potenza.</blockquote>
{% endblock %}

{% block buck %}
<blockquote>Nei giorni successivi giunsero altri cani, in gabbie o al guinzaglio,
    alcuni docilmente altri infuriando e latrando come aveva fatto lui e, ad uno
    ad uno, li vide sottomettersi al dominio dell'uomo dalla maglia rossa. Ogni
    volta osservò lo spettacolo brutale e si fissò in mente la lezione: un uomo
    con un bastone fa legge, è il padrone che deve essere obbedito anche se non
    necessariamente amato. Su questo ultimo punto, Buck non cadde mai in colpa,
    sebbene vedesse dei cani che dopo essere stati picchiati facevano servilmente
    festa all'uomo, scodinzolando e leccandogli la mano.</blockquote>
{% endblock %}

{% block test %}
<h3 class="center light">Punteggiatura</h3>
{{ include('embed/card.html.twig', {
    title: 'In 4 delle seguenti frasi mancano i due punti necessari alla correttezza '
        ~ 'morfosintattica. Inseriscili nella posizione opportuna, specificandone la '
        ~ 'funzione, ovvero se servono a introdurre un elenco, un discorso '
        ~ 'diretto, una spiegazione o un esempio.',
    content: form_widget(form.duePuntiA)
        ~ form_widget(form.duePuntiFunzioneA)
        ~ form_widget(form.duePuntiB)
        ~ form_widget(form.duePuntiFunzioneB)
        ~ form_widget(form.duePuntiC)
        ~ form_widget(form.duePuntiFunzioneC)
        ~ form_widget(form.duePuntiD)
        ~ form_widget(form.duePuntiFunzioneD)
        ~ form_widget(form.duePuntiE)
        ~ form_widget(form.duePuntiFunzioneE)
}) }}
{{ include('embed/card.html.twig', {
    title: 'Modifica o inserisci un solo segno di punteggiatura nelle seguenti frasi per ottenerne '
        ~ 'altre di diverso significato (es.: Elena telefona alla rappresentante di '
        ~ 'classe/ Elena, telefona alla rappresentante di classe).',
    content: form_widget(form.punteggiaturaA)
        ~ form_widget(form.punteggiaturaB)
}) }}
{{ include('embed/card.html.twig', {
    title: 'Le proposizioni relative sono precedute o meno dalla virgola a seconda '
        ~ 'del significato che intende esprimere la frase: colloca il segno o i segni di punteggiatura '
        ~ 'nella posizione corretta rispetto a quanto ti viene chiesto '
        ~ 'di affermare o non collocarlo se non è necessario.',
    content: form_widget(form.virgolaA)
        ~ form_widget(form.virgolaB)
        ~ form_widget(form.virgolaC)
}) }}
<h3 class="center light">Lessico e ortografia</h3>
{{ include('embed/card.html.twig', {
    title: 'Dopo averli individuati, riscrivi correttamente i termini ortograficamente scorretti.',
    content: form_widget(form.lessicoA)
        ~ form_widget(form.lessicoB)
        ~ form_widget(form.lessicoC)
        ~ form_widget(form.lessicoD)
        ~ form_widget(form.lessicoE)
        ~ form_widget(form.lessicoF)
        ~ form_widget(form.lessicoG)
        ~ form_widget(form.lessicoH)
        ~ form_widget(form.lessicoI)
        ~ form_widget(form.lessicoJ)
}) }}
<h3 class="center light">Morfologia</h3>
{{ include('embed/card.html.twig', {
    title: 'Forma il plurale delle seguenti parole: ',
    content: form_widget(form.pluraleGuerra)
        ~ form_widget(form.pluraleCapo)
        ~ form_widget(form.pluraleCane)
        ~ form_widget(form.pluraleBuono)
}) }}
<h3 class="center light">Grammatica</h3>
{{ include('embed/card.html.twig', {
    title: 'Individua la funzione grammaticale dei termini <em>enfatizzati</em>: ',
    content: form_widget(form.funzioneGA)
        ~ form_widget(form.funzioneGB)
        ~ form_widget(form.funzioneGC)
}) }}
{{ include('embed/card.html.twig', {
    title: 'Individua la funzione logica dei termini <em>enfatizzati</em>: ',
    content: form_widget(form.funzioneLA)
        ~ form_widget(form.funzioneLB)
        ~ form_widget(form.funzioneLC)
}) }}
{{ include('embed/card.html.twig', {
    title: 'Individua la funzione sintattica delle proposizioni <em>enfatizzati</em>: ',
    content: form_widget(form.funzioneSA)
        ~ form_widget(form.funzioneSB)
        ~ form_widget(form.funzioneSC)
}) }}
<h3 class="center light">Comprensione e analisi di un testo</h3>
{{ include('embed/card.html.twig', {
    title: 'Leggi il seguente testo: ',
    content: block('climaPrealpino')
}) }}
{{ form_widget(form.argomentoTesto) }}
{{ include('embed/card.html.twig', {
    title: 'Leggi quest\'altro testo, tratto da "Il richiamo della foresta" di Jack London e completa le ' ~
        'affermazioni di seguito. Il protagonista è il cane Buck.',
    content: block('buck')
}) }}
{# The other questions are auto rendered #}
{% endblock %}
