{% extends 'tests/test.html.twig' %}

{% block oreSydneyBerlino %}
<div class="question">
    <p>Quando a Greenwhich è mezzanotte (00:00) a Berlino è l'una di notte (01:00)
        e a Sydney sono le dieci di mattina (10:00).</p>
</div>
{% endblock %}

{% block sydneyBerlino %}
<div class="question">
    <p>Per comunicare usano una chat su internet, quindi devono trovare
        l'ora appropriata per collegarsi contemporanemente.</p>
    <p>Luca e Marco non possono chattare dalle 23:00 alle 07:00 ora locale
        perchè stanno dormendo e neppure dalle 09:00 alle 16:30 locali
        perchè visitano le città con i genitori.</p>
    <p>Qual è un'ora giusta per Luca e Marco per chattare?</p>
    <p><em>Consiglio: Prima di rispondere alla domanda, costruisci
        uno schema orario su un foglio.<br>
        N.B: più soluzioni sono corrette: riportane una.</em></p>
</div>
{% endblock %}

{% block indiana %}
<div class="question">
    <p>Esempio svolto con la moltiplicazione seguente: <strong>5764*613</strong></p>
    <p>I due fattori sono evidenziati in grassetto e si trovano nella prima riga
        e nella terza colonna della tabella.</p>
    {{ include('embed/indianMultiplication.html.twig', {
        orizzontale: "5,7,6,4",
        verticale: "6,1,3",
        width: "s12",
        inputId: "none",
        initValue: "3#0#4#2#3#6#2#4#0#5#0#7#0#6#0#4#1#5#2#1#1#8#1#2#3#5#3#3#3#3#2#",
        editable: false,
    }) }}
    <p>Nelle celle che contengono una coppia di caselle rosse bisogna scrivere
        il prodotto delle due cifre che etichettano la riga e la colonna della
        cella, riportando la cifra delle decine sopra e la cifra delle unità
        sotto ogni diagonale.</P>
        <p> Facendo un esempio, la cella dalle caselle rosse
        più in alto e più a sinistra contiene <em>30</em> perchè è il prodotto
        di <em>5</em> e <em>6</em>.</p>
    <p>Nelle celle contenenti una casella blu scrivi la somma delle
        cifre presenti nella diagonale tenendo conto dell'eventuale riporto.
        Facendo un esempio, il <em>5</em> alle centinaia di migliaia è ottenuto
        sommando le cifre <em>0</em>, <em>0</em>, <em>4</em> ed il riporto di
        <em>1</em>.</p>
    <p>La riga di celle contenenti le caselle blu, se letta da sinistra verso
        destra, contiene il risultato della moltiplicazione.</p>
    <p>Svolgi quindi la moltiplicazione indiana qui sotto riempiendo tutti i
        pallini rossi con le cifre corrette. </p>
</div>
{% endblock %}

{% block test %}
{{ include('embed/card.html.twig', {
    title: 'Due studenti dell\'istituto Badoni trascorrono le vacanze all\'estero. '
    ~ 'Luca va a Sydney (Australia) e Marco va a Berlino (Germania).',
    content: block('oreSydneyBerlino')
        ~ form_widget(form.sydneyBerlino)
        ~ block('sydneyBerlino')
        ~ form_label(form.oraSydney)
        ~ form_widget(form.oraSydney)
        ~ form_label(form.oraBerlino)
        ~ form_widget(form.oraBerlino)
}) }}
{{ include('embed/card.html.twig', {
    title: 'Moltiplicazione indiana: un metodo alternativo per eseguire la moltiplicazione',
    content: block('indiana')
}) }}
{{ include('embed/indianMultiplication.html.twig', {
    orizzontale: "7,6,1,8",
    verticale: "5,4,9",
    inputId: "mat_comprensione_moltiplicazioneIndiana",
    editable: true,
}) }}
{{ form_widget(form.moltiplicazioneIndiana, {attr: {id: 'moltiplicazioneIndiana'}}) }}
{% endblock %}
