{% extends 'tests/test.html.twig' %}

{% block test %}
<h3 class="center light">Geometria</h3>
{{ form_widget(form.angoli) }}
{{ form_widget(form.rombo) }}
{{ form_widget(form.foglioCarta) }}
{{ form_widget(form.semicerchio) }}
{{ include('embed/card.html.twig', {
    image: asset('assets/images/verofalsogeometria.png'),
    title: 'I segmenti DB e CE sono paralleli. Stabilisci se le affermazioni sono vere o false: ',
    content: form_widget(form.veroFalsoGeometria1)
        ~ form_widget(form.veroFalsoGeometria2)
        ~ form_widget(form.veroFalsoGeometria3)
        ~ form_widget(form.veroFalsoGeometria4)
}) }}
{{ form_widget(form.relazioni) }}
{{ form_widget(form.distanzaPunti) }}
{{ form_widget(form.triangoli) }}
{{ form_widget(form.simmetria) }}
{{ form_widget(form.circonferenza) }}
<h3 class="center light">Algebra</h3>
{{ form_widget(form.fattoriPrimi) }}
{{ include('embed/card.html.twig', {
    title: 'Verifica la correttezza delle seguenti affermazioni',
    content: form_widget(form.MCDormcm1)
    ~ form_widget(form.MCDormcm2)
    ~ form_widget(form.MCDormcm3)
    ~ form_widget(form.MCDormcm4)
}) }}
{{ include('embed/card.html.twig', {
    title: 'Indica il sottoinsieme specifico di Q a cui ogni numero appartiene.',
    content: form_widget(form.tabNum1)
    ~ form_widget(form.tabNum2)
    ~ form_widget(form.tabNum3)
    ~ form_widget(form.tabNum4)
    ~ form_widget(form.tabNum5)
    ~ form_widget(form.tabNum6)
}) }}

{{ include('embed/card.html.twig', {
    title: 'Scomponi in fattori primi 140 e 243. Successivamente, rispondi alle seguenti domande: ',
    content: form_widget(form.siNoPrimi)
        ~ form_widget(form.siNoPrimiLoro)
}) }}
{{ form_widget(form.unMezzo) }}
{{ form_widget(form.numeroRazionale) }}
{{ form_widget(form.medicina) }}
{{ form_widget(form.cannavacciuolo) }}
{{ form_widget(form.equazione) }}
{{ form_widget(form.successivo) }}
{% endblock %}
