{% extends 'base.html.twig' %}

{% block title %}Risultati di {{ constant(test ~ '::TESTNAME')|lower }}{% endblock %}
{% block javascripts %}
<script>
    var stats = {{ stats|json_encode()|raw }};
</script>
<script src="{{ asset('assets/js/chart.min.js') }}"></script>
<script src="{{ asset('assets/js/stats.min.js') }}"></script>
{% endblock %}
{% block body %}
<h2 class="center light">{{ block('title') }}</h2>
<div class="row">
<div class="card-panel center amber lighten-3">
    <p style="margin-top: 0"><strong>{{ nTests }}</strong> candidat{% if nTests == 1 %}o ha{% else %}i
        hanno{% endif %} consegnato la prova.<br>
    {% if stats|length > 0 %}
    Punteggio medio: <strong>{{ (markSum / nTests)|round(5,'common') }}
    </strong>
    {% endif %}
    </p>
    <a class="waves-effect waves-light btn"
        href="{{ path(constant(test ~ '::ROUTEPREFIX') ~ 'Csv') }}">scarica csv</a>
</div>
{% for questionName, stat in stats %}
<div class="col s12 m6 l4">
    <div class="card small">
        <div class="card-content">
            <span class="card-title">Domanda &quot;{{ questionName }}&quot;</span>
            {% for points, nPeople in stat %}
            <p><strong>{{ nPeople }}</strong>
            candidat{% if nPeople == 1 %}o ha{% else %}i hanno{% endif %} totalizzato
            <strong>{{ points[1:] }}</strong>
            punt{% if points == "p1" %}o{% else %}i{% endif %}.</p>
            {% endfor %}
            <canvas id="q{{ questionName|replace({' ': ''}) }}" class="stat-graph" height="100"></canvas>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
