{% extends 'base.html.twig' %}

{% block title %}Esito di {{ constant(controller ~ '::TESTNAME')|lower }}{% endblock %}
{% block body %}
<h2 class="center light">{{ block('title') }}</h2>
<div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="card">
            <div class="card-image">
                <img src="{{ asset('assets/images/userView.png') }}">
                <span class="card-title" style="width: 100%; text-align: center">
                    <i class="mark-icon material-icons teal-text">done</i><br>
                    <strong>Prova eseguita</strong>
                </span>
           </div>
            <div class="card-content center">
                Risposte esatte:
                <strong>
                    {{ (mark / constant(controller ~ '::MAXMARK') * 100)|round }}%
                </strong><br/>
                Sufficienza: <strong>50%</strong>
            </div>
        </div>
    </div>
</div>
{% endblock %}
