{# Test page template (form must be passed as 'form', ajax route as 'ajaxroute') #}

{% extends 'base.html.twig' %}

{% block title %}Prova di {{ constant(controller ~ '::TESTNAME')|lower }}{% endblock %}

{% block javascripts %}
<script>
    path.testAjax = '{{ path(constant(controller ~ '::ROUTEPREFIX') ~ 'Ajax') }}';
    var time = {{ timeleft }};
</script>
<script src="{{ asset('assets/js/testForm.min.js') }}"></script>
{% endblock %}

{% block body %}
<h2 class="center light">{{ block('title') }}</h2>
<div class="row center">
    <a class="waves-effect waves-light teal darken-3 btn" id="verdanaButton" onclick="$('body').toggleClass('verdana')">Cambia font</a>
    &nbsp; {# Again, Bob Ross forgive me #}
    <a class="waves-effect waves-light green btn" onclick="$('#testform').submit()">consegna</a>
</div>
<div class="center">
    <div id="cooltimer" class="timer-container center card-panel amber lighten-3">
        Tempo rimasto: <strong id="timer"></strong>
    </div>
</div>
{{ form_start(form, {'attr': {'id': 'testform'}}) }}
{% block test %}{{ form_widget(form) }}{% endblock %}
{{ form_end(form) }}
{% endblock %}
