.login-brand-logo{
    margin: 0;
    width: 100%;
}

.user-card-column{
    width:100%;
    max-width: 515px;
    margin: 0 auto;
}

@media screen and (min-width: 400px){
    .user-card-column{
        width: 90%;
    }
}

.club-logo{
    display: inline-block;
    position: static;
}

.row.valign{
    width: 100%;
}
