/* Sticky footer */

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

/* remove yellowish background when autocomplete in webkit browsers */
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/* userView (mobile) */

.userView{
    cursor: pointer;
}

/* moremenu profile (desktop) */

#dropdown1{
    position: relative;
    top: 64px;
}
.moremenu-userview{
    position: relative;
    width: 300px;
    height: 100px;
    background-size: 100%;
}
.moremenu-userview .text{
    position: absolute;
    bottom: .5em;
    width: 100%;
    padding: 0 1rem;
}

/* Big red action buttons */

.header-action{
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
}

.header-action-container{
    padding-right: 60px;
}

/* Helpers */

.relative{
    position: relative !important;
}

.marginless{
    margin: 0 !important;
}

/* Verdana */

.verdana{
    font-family: Verdana !important;
}

/* indian multiplication */

.cell{
    width: calc(100% / 7);
    height: 20%;
    float: left;
    margin: 0;
    position: relative;
}

.diagonals {
  width: 100%;
  height: 100%;
  background: #e0f2f1;
  fill: #b2dfdb;
}

.decine{
    top: 7%;
    left: 12%;
}

input[type=text].input{
    position: absolute;
    width: 1.5em;
    text-align: center;
    margin: 0;
    height: 1.5em;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.5);
}

input[type=text].input.result{
    background: rgba(30, 30, 180, 0.5);
    color: white;
}

.digit{
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.75em;
}

.unita{
    bottom: 7%;
    right: 12%;
}

.indianContainer{
    height: 25em;
}

/* mark icon in test success page */

.mark-icon{
    font-size: 6em;
}

@media screen and (max-width: 700px), screen and (min-width: 993px) and (max-width: 1250px){
    .mark-icon{
        font-size: 4em;
    }
}

@media screen and (max-width: 440px){
    .mark-icon{
        display: none;
    }
}

/* heading max width */

.brand-logo{
    max-width: 60vw;
}

/* card in homepage */

/* card in homepage */

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   transform: scale(1.00);
   transition: all .2s ease-in-out;
}

.fade:hover {
    opacity: 0.7;
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}

.fadetesto {
    transform: scale(1.00);
    transition: all .2s ease-in-out;
}

.fadetesto:hover {
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:0.2s;
  -moz-animation-duration:0.2s;
  animation-duration:0.2s;
}

.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fade-in.two {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay:0.4s;
  animation-delay: 0.4s;
}

.fade-in.three {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fade-in.four {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

/* InfixChoiceType blockquote */

.card .infixBlockQuote{
    margin-top: 2.625em;
}

/* timer style */

.timer-container.fixed{
    position: fixed;
    top: 0;
    left: calc(50vw - 9em);
    z-index: 50;
}

.timer-container{
    width: 18em;
    display: inline-block;
}

.parallax-card{
  display: inline-block;
  width: 60%;
}

@media screen and (max-width: 500px){
  .parallax-card{
    width: 100%;
  }
}

/* stats graphs style */

.stat-graph {
    position: absolute;
    bottom: 30px;
}

/* Feedback parallax */

.feedback-parallax {
    margin-bottom: -20px;
}

/* text style inside cards */

.card .card-content .question, .card-panel .question {
    margin: 0.5rem 0 0.4rem 0;
    display: block;
}

.card .card-content .question p, .card-panel .question p,
.card .card-content p.real, .card-panel p.real {
    margin-bottom: .75em;
}

.card .card-content .question p:last-child, .card-panel .question p:last-child {
    margin-bottom: 0;
}

/* in desktop mode, the container width is set to 90% */

@media screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}

form .card .card-content h5 {
    font-size: 1.4rem;
}

.presentation h2, .presentation h3, .presentation h4{
    text-align: center;
}
.presentation p{
    width: 100%;
    display: inline-block;
    text-align: justify;
    text-justify: inter-word;
}
