{% extends 'base.html.twig' %}

{% block title %}Javascript disabilitato{% endblock %}
{% block noscript %}{% endblock %}
{% block body %}
    <script>
        window.location.href="/";
    </script>
    <h2 class="light truncate">Javascript disabilitato</h2>
    <p>Per poter usare questo sito, è necessario abilitare Javascript.
    Visita <a href="http://www.enable-javascript.com/it/">questo</a> sito per saperne di più.</p>
    <p>Dopo aver ablilitato Javascript, <a href="{{ path('homepage') }}">torna alla homepage</a>.</p>
{% endblock %}
