{% block body_html %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title></title>

  <style type="text/css">
  /* CLIENT-SPECIFIC STYLES */
  body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
  table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
  img { -ms-interpolation-mode: bicubic; }

  /* RESET STYLES */
  img { border: 0; line-height: 100%; outline: none; text-decoration: none; }
  table { border-collapse: collapse !important; }
  body { height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important; }

  /* iOS BLUE LINKS */
  a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
  }

  /* MEDIA QUERIES */
  @media only screen and (max-width: 639px){
    .wrapper{ width:320px!important; padding: 0 !important; }
    .container{ width:300px!important;  padding: 0 !important; }
    .mobile{ width:300px!important; display:block!important; padding: 0 !important; }
    .mobile50{ width:150px!important; padding: 0 !important; }
    .center{ margin:0 auto !important; text-align:center !important; }
    .img{ width:100% !important; height:auto; }
    .header{ width:320px; padding: 0 !important; background-image: url(http://placehold.it/320x400) !important; }
    *[class="mobileOff"] { width: 0px !important; display: none !important; }
    *[class*="mobileOn"] { display: block !important; max-height:none !important; }
  }
  </style>
</head>
<body style="margin:0; padding:0; background-color:#F2F2F2;">
  <center>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F2F2F2">
        <tr>
            <td align="center" valign="top">

                <table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
                  <tr>
                    <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center">

                        <!-- Start Container  -->
                        <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                          <tr>
                            <td width="300" class="mobile" align="center">
                              <img src="{{ absolute_url(asset('android-icon-48x48.png')) }}" width="50" height="50" style="margin:0; padding:0; border:none; display:block;" border="0" class="centerClass" alt="" />
                            </td>
                          </tr>
                        </table>
                        <!-- End Container  -->

                    </td>
                  </tr>
                  <tr>
                    <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
                  </tr>
                </table>
                <table width="640" cellpadding="0" cellspacing="0" align="center" border="0" class="wrapper" bgcolor="#ffffff">
                    <tbody>
                        <tr>
                            <td height="20" style="line-height:20px; font-size:20px;"> </td><!-- Spacer -->
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#ffffff">

                                <!-- Start Container -->
                                <table width="600" cellpadding="0" cellspacing="0" align="center" border="0" class="container">
                                    <tr>
                                        <td align="center" class="mobile" style="font-family:arial, sans-serif; font-size:20px; line-height:26px; font-weight:bold;">
                                            {% block title %}{% endblock %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="20" style="line-height:20px; font-size:20px;"> </td><!-- Spacer -->
                                    </tr>
                                    <tr>
                                        <td align="center" style="font-family:Verdana, Arial, sans serif; font-size: 14px; color: #4d4d4d; line-height:18px;">
                                            {% block content %}{% endblock %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="20" style="line-height:20px; font-size:20px;"> </td><!-- Spacer -->
                                    </tr>
                                    <tr>
                                        <td align="center" class="center">

                                            <!-- Start Button -->
                                            <table width="190" cellpadding="0" cellspacing="0" align="center" border="0">
                                                <tr>
                                                    <td width="190" height="36" bgcolor="{{ theme_emailaccentcolor }}" align="center" valign="middle" style="font-family:arial, sans-serif; font-size: 16px; color: #ffffff; line-height:18px; border-radius:3px;">
                                                        <a href="{% block action_href %}{% endblock %}" target="_blank" alias="" style="font-family:arial, sans-serif; text-decoration: none; color: #ffffff;"><b>{% block action %}{% endblock %}</b></a>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- End Button -->

                                        </td>
                                    </tr>
                                </table>
                                <!-- End Container -->

                            </td>
                        </tr>
                        <tr>
                            <td height="20" style="line-height:20px; font-size:20px;"> </td><!-- Spacer -->
                        </tr>
                    </tbody>
                </table>
                <table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#222222">
                  <tr>
                    <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center">

                      <!-- Start Container  -->
                      <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                        <tr>
                          <td width="300" class="mobile" style="font-family:arial; font-size:12px; line-height:18px; color:#FFFFFF;">
                            {{ heading_title }}
                            <br>
                            <b>&copy; 2016 Claudio Maggioni, Davide Fiori, Giorgio Croci</b>
                          </td>
                        </tr>
                      </table>
                      <!-- End Container  -->

                    </td>
                  </tr>
                  <tr>
                    <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
                  </tr>
                </table>
            </td>
        </tr>
    </table>
  </center>
</body>
</html>
{% endblock %}
