{% extends 'email/base.html.twig' %}

{% block subject %}Recupero password{% endblock %}

{% block title %}
    Recupero password
{% endblock %}

{% block content %}
    <p><b>@{{ user.username }}</b>,</p>
    <p>Per recuperare la tua password premi il bottone sottostante o apri questo link:<br/>
    <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a></p>
{% endblock %}

{% block action %}Recupera password{% endblock %}
{% block action_href %}{{ confirmationUrl }}{% endblock %}
