{% extends 'email/base.html.twig' %}

{% block subject %}Registrazione{% endblock %}
{% block title %}Registrazione{% endblock %}

{% block content %}
    <p><b>@{{ user.username }}</b>,</p>
    <p>Per continuare la tua registrazione alla piattaforma premi il bottone sottostante o apri questo link:<br/>
    <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a></p>
{% endblock %}

{% block action %}Registrati{% endblock %}
{% block action_href %}{{ confirmationUrl }}{% endblock %}
